<% layout('layouts/boilerplate') %>
<body>
    <form action="/listings" method="POST" class="needs-validation" novalidate>
        <div class="row  " >
            <div class="col-8 offset-2">
                <br></br>
                <h3 class="">Create New Listing</h3>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Any catch title" class="form-control" required>
            <div class="valid-feedback">looks good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="enter your description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">image Link</label>
            <input type="text" name="listing[image]" placeholder="image URL" class="form-control">
        </div>
        <div class="row" class="mb-3">
        <div class="col-md-4 mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="1200" class="form-control" required>
             <div class="invalid-feedback">Please enter Valid Price</div>
        </div>
        <div class="col-md-8 mb-3" >
             <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
            <div class="invalid-feedback">Please enter Valid Country</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Gujrat,Delhi" class="form-control" required>
            <div class="invalid-feedback">Please enter Valid location</div>
        </div>
        <br>
        <button class="btn btn-dark mb-2 add-btn">Add</button>
    </form>
</body>
</div>
</div>